---
layout: default
body_classes: page-home
---

<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/blocks/sections/heading.html
        title=page.title
        description=page.description
        %}
      </div>
    </div>
  </div>
</div> -->

<!-- {% assign cards = site.projects %}
{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">
     
      {% for card in cards limit: 6 %}
      <div
        class="col-12 col-md-6 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
        title=card.title
        description=card.description
        thumbnail=card.thumbnail
        categories=card.categories
        date=card.date
        url=card.url
        client=card.client
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} -->

<!-- {% assign cards = site.posts %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">
      {% include framework/blocks/components/grid-header.html heading="Recent Posts" %}
      {% for card in cards limit: 3 %}
      <div
        class="col-12 col-md-4 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-post.html
        title=card.title
        description=card.description
        url=card.url
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} -->

<!--INSERT THE SPONSORS / PARTNERS THING HERE!!!-->
<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12"></div>
      {% include framework/blocks/sections/partners.html %}
      </div>
    </div>
  </div>
</div> -->
<!--I THINK THE VARIABLE SITE.DATA.PARTNERS IS NOT BEING ASSIGNED-->

<!-- {% if site.mailchimp.form_action_url %}
{% if page.subscribe %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/blocks/components/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endif %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>MIT Electric Vehicle Team (EVT)</title>


  <meta name="description" content="The homepage of MIT's open-source hydrogen fuel-cell motorcycle project including design documentation, safety standards, links to resources, and more."/>












    <link rel="icon" href="/assets/images/favicon/favicon.png">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fira+Mono&display=swap" rel="stylesheet">

    

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K2NYG745EH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K2NYG745EH');
</script>
  </head>
<body class="page page-home has-static-header">





<div id="header" class='header '>
  <div class="container">
    <div class="logos">
  <div class="logo logo-desktop">
    
      <div class="logo-image">
        <a href="/">
          <img height="60px" width="120px" alt="MIT Electric Vehicle Team (EVT) Logo" src="/assets/images/logo/logo.png"/>
        </a>
      </div>
    
  
    
    
  </div>

  <div class="logo logo-desktop-invert">
    
    
      <div class="logo-image">
        <a href="/">
          <img height="60px" width="120px" alt="MIT Electric Vehicle Team (EVT) Logo" src="/assets/images/logo/logo-invert.png"/>
        </a>
      </div>
    
  
    
    
  </div>

  <div class="logo logo-mobile">
    
    
      <div class="logo-image">
        <a href="/">
          <img height="40px" width="120px" alt="MIT Electric Vehicle Team (EVT) Logo" src="/assets/images/logo/logo-mobile.png"/>
        </a>
      </div>
    
  
    
    
  </div>


  <div class="logo logo-mobile-invert">
    
    
      <div class="logo-image">
        <a href="/">
          <img height="40px" width="120px" alt="MIT Electric Vehicle Team (EVT) Logo" src="/assets/images/logo/logo-invert-mobile.png"/>
        </a>
      </div>
    
  
    

  </div>

</div>


  </div>
</div>

<div id="wrapper" class="wrapper">     
  <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        



<div class="heading">



  <div class="heading-heading">
    <h1>We are a student team using <strong>Hydrogen</strong> to build a <strong>Cleaner Future.</strong></h1>
  </div>
  
  
  
    <div class="heading-description">
      <p>Hello! We're the MIT Electric Vehicle Team. We build motorcycles powered by hydrogen, and we want to provide opportunities for students of all ages and backgrounds to learn how they can use engineering to get us closer to Net Zero by 2050. Our website is coming soon! But for now, learn more about us below!</p>
    </div>
  

  
</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
   
    
    <div
      class="col-24 col-md-12 mb-gutter mt-gutter mt-0  mt-md-0">

<div class="card card-project card-column card-has-thumbnail ">

  
  <div class="card-thumbnail ">
    <a href="/pr/partner-pack-25.pdf"><img alt="Engineering Documentation" src="/assets/images/gen/content/gb.jpg"/></a>
  </div>


<div class="card-content">
  <div class="card-title">
    <h2>
      <a href="/pr/partner-pack-25.pdf">Learn More About Our Team!</a>
    </h2>
  </div>
  
    <div class="card-client">
      2025 Team Sponsor Pack
    </div>
  
</div>
</div>
    </div>
  





                </div>
              </div>
            
        
          </div>
        </div>
      
    </div>
    
  </div>
</div>



  <div class="bottom">
  <div class="container relative">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        
        
          <div class="copyright">© 2024 Massachusetts Institute of Technology | Electric Vehicle Team</div>
        
      </div>
      
    </div>
  </div>
</div>


<script type="text/javascript" src="/assets/js/scripts.js"></script>

<script type="text/javascript" src="/assets/js/hamburger.js"></script>
<script type="text/javascript" src="/assets/js/darkModeSwitch.js"></script>



</body>
</html>