---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 6 %}

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 mb-4">

        {% if page.title %}
          <div class="project-heading">
            <h1>{{ page.title }}</h1>
          </div>
        {% endif %}

        {% if page.categories %}
          <div class="project-categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          </div>
        {% endif %}

        {% if page.date %}
          <div class="project-date">
            <strong>Date </strong><span>{{ page.date | date_to_long_string }}</span>
          </div>
        {% endif %}

        {% if page.client %}
          <div class="project-client">
            <strong>Client </strong><span>{{ page.client }}</span>
          </div>
        {% endif %}

        {% if page.role %}
          <div class="project-role">
            <strong>Role </strong><span>{{ page.role }}</span>
          </div>
        {% endif %}

      </div>

      <div class="col-12 col-md-6 mb-4">
        <div class="content">{{ content }}</div>
      </div>

    </div>

    <div class="row">
      <div class="project-image">
        <div class="gallery gallery-2">
          <div class="gallery-sizer"></div>
        {% for item in page.gallery limit: limit %}
          <div class="gallery-item">
            <div class="gallery-image"><img width="615" height="400" src="{{ item.image | relative_url }}"/></div>
            <div class="gallery-caption">{{ item.caption }}</div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  var grid = document.querySelector('.gallery');
  var msnry;

  imagesLoaded( grid, function() {
    msnry = new Masonry( grid, {
      itemSelector: '.gallery-item',
      columnWidth: '.gallery-sizer',
      gutter: 30
    });
  });
</script>